@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  // font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}
.el-message-box.button-order{
  .el-message-box__btns{
    display: flex;
    flex-direction: row-reverse;
  }
  .el-button{
    margin-left: 20px;
  }
}
.confirm-wrapper{
  text-align: center;
  .title{
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    .icon{
      font-size: 23px;
      margin: 0 10px;
      vertical-align: text-top;
      font-weight: bold;
    }
    .el-icon-warning{
      color:#E6A23C ;
    }
  }
  .subTitle{
    color: $tipColor;
    line-height: 25px;
    &.hidden{
      display: none;
    }

  }
}

.box-card{
  margin-bottom: 15px;
}

/*修改滚动条样式*/
div,
aside,ul{
  &::-webkit-scrollbar{
    width: 10px;
    height: 10px;
  }
}
div,aside,ul{
  &::-webkit-scrollbar-track{
    background: #f5f5f5;
    box-shadow: 0 0 5px #ccc inset;
    border-radius:2px;
  }
}
div ,aside,ul{
  &::-webkit-scrollbar-thumb {
    // background: #5b93c1;
    background:#c1c1c1;
    box-shadow: 0 0 5px rgba(59, 40, 40, 0.4) inset;
    border-radius: 2px;
  }
}
div,
aside,ul {
  &::-webkit-scrollbar-corner {
    background: #0c1931;
  }
}
// 通用底部按钮栏
.is-footer {
  padding-bottom: 60px !important;
}

.footer-btn {
  padding: 0 20px;
  position: fixed;
  width: 100%;
  height: 60px;
  background: #fff;
  left: 210px;
  bottom: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: all 0.4s;
  &.mini-footer-btn{
    left: 54px;
  }
}